{% extends "bases/base.html" %}

{% block titulo %} Ver documentos legales{%endblock %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="row">
                <a name="" class="btn btn-dark" href="javascript:history.back()" role="button"
                   style="width : 200px; heigth : 200px; margin: 15px">Regresar</a>
            </div>
            <div class="card">
                <div class="card-header">
                    Documentos legales
                </div>
                <div class="card-body">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Tipo de documento</th>
                            <th>Archivo</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for documentoslegales in documentoslegales %}
                        <!-- DUI -->
                        <tr>
                            <td> {{documentoslegales.nombre}}</td>
                            <td> {% if documentoslegales.imagen %}
                                <a target="_blank" class="btn btn-secondary"
                                   href="{{ documentoslegales.imagen.url }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                         class="bi bi-file-earmark-image" viewBox="0 0 16 16">
                                        <path d="M6.502 7a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z"></path>
                                        <path d="M14 14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5V14zM4 1a1 1 0 0 0-1 1v10l2.224-2.224a.5.5 0 0 1 .61-.075L8 11l2.157-3.02a.5.5 0 0 1 .76-.063L13 10V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4z"></path>
                                    </svg>
                                </a>
                                {% endif %}
                            </td>
                        </tr>
                        <!-- Fin del DUI -->
                        {% endfor %}


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock %}
