{% extends "bases/base.html" %}

{% block titulo %} Recepción de solicitudes {%endblock %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card">
                <div class="card-header">
                    Datos del cliente
                </div>
                <div class="card-body">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Dato</th>
                            <th>Descripción</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr>
                            <td> ID de la solicitud</td>
                            <td> {{solicitud.id_solicitud}}</td>
                        </tr>
                        <tr>
                            <td> Fecha de la solicitud</td>
                            <td> {{solicitud.fecha_solicitud}}</td>
                        </tr>
                        <tr>
                            <td> Nombre del solicitante</td>
                            <td> {{solicitud.id_cliente.nombres}} {{solicitud.id_cliente.apellidos}}</td>
                        </tr>
                        <tr>
                            <td> {{solicitud.id_cliente.id_tipoIdentificacion.nombreTipoIdentificacion}}</td>
                            <td> {{solicitud.id_cliente.identificacion}}</td>
                        </tr>
                        <tr>
                            <td> Fecha de nacimiento</td>
                            <td> {{solicitud.id_cliente.fecha_nacimiento}}</td>
                        </tr>
                        <tr>
                            <td> Teléfono</td>
                            <td> {{solicitud.id_cliente.telefono}}</td>
                        </tr>
                        <tr>
                            <td> Correo</td>
                            <td> {{solicitud.id_cliente.correo}}</td>
                        </tr>
                        <tr>
                            <td> Fotografía</td>
                            <td>
                                <img src="{{solicitud.id_cliente.fotografia}}" height="100" width="100">
                            </td>
                        </tr>
                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}
