<!doctype html>
<html lang="en">
  <head>
        <style>

            @page {
                size: letter landscape;
                @frame content_frame {
                    left: 120pt;
                    width: 512pt;
                    top: 40pt;
                    height: 400pt;
                    margin: 0;
                    }
            }
        </style>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CARNET ASOCIADO</title>
  </head>

  <body>
        <br><br>
        <div id="header_content" align="center">

            <div>
                    {% load static %}
                    <img src="{% static '../../../../webApp/static/img/logo.png' %}">
                </div>

            <h1> ASEUES DE RL, SAN SALVADOR, EL SALVADOR</h1>
            <hr width="100%" size="1">
            <h1> CARNET ASOCIADO </h1>
        </div>
        <div id="content_frame" align="center">
            <ul class="list-group">

                <li class="list-group-item">
                    {% if clientes.fotografia %}
                        <img src="{{ clientes.fotografia.path }}" height="210px"/>
                    {% endif %}
                </li><br>
                <li class="list-group-item"><h2>Codigo Asociado: {{ clientes.id_cliente }}</h2></li>
                <li class="list-group-item"><h2>Nombres : {{ clientes.nombres }}</h2></li>
                <li class="list-group-item"><h2>Apellidos: {{ clientes.apellidos }}</h2></li>
                <li class="list-group-item"><h2>DUI: {{ clientes.identificacion }}</h2></li>
                <li class="list-group-item"><h2>Fecha de Nacimiento: {{ clientes.fecha_nacimiento }}</h2></li>
                <li class="list-group-item"><h2>Fecha de Expedicion: {{fecha_expedicion}} </h2></li>
            </ul>
        </div>
     </body>
</html>


