<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credenciales de usuario</title>
</head>
<body>
    <div class="container">
        <h2 align="center">ASEUES DE RL, SAN SALVADOR, EL SALVADOR</h2>
        <hr width="100%" size="2">
        <h3>Estimado/a Sr/Sra {{ cliente.nombres }} {{ cliente.apellidos }}
        <br>Le agradecemos por preferirnos, a continuacion le entregamos su
            usario y contraseña, con el cual ingresara por primera vez, por lo que
            se le entrega una contraseña temporal, donde al iniciar la podra cambiar. </h3>

        <br>
        Usuario: {{username}}
        <br>
        Contraseña: {{contraseña}}
        <br>

        <h4>Le solicitamos no compartir esta informacion de caracter personal, buen dia!</h4>
    </div>
</body>
</html>