<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notificacion al Cliente</title>
</head>
<body>
    <div class="container">
        <h2 align="center">ASEUES DE RL, SAN SALVADOR, EL SALVADOR</h2>
        <hr width="100%" size="2">
        <h3>Estimado/a Sr/Sra {{ cliente.nombres }} {{ cliente.apellidos }} <br>Le informamos que su solicitud de admision como asociado a nuestra cooperativa se encuentra
            en pausa, debido a incongruencias en los datos digitados con los archivos anexos presentados.<br>
            <br>Para subsanar, debe ingresar al siguiente enlace y volver a digitar correctamente sus datos: </h3>
    </div>

</body>
</html>