<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solicitud Aprobada</title>
</head>
<body>
    <div class="container">
        <h2 align="center">ASEUES DE RL, SAN SALVADOR, EL SALVADOR</h2>
        <hr width="100%" size="2">
        <h3>Estimado/a Sr/Sra {{ cliente.nombres }} {{ cliente.apellidos }} <br>Le informamos que su solicitud de admision como asociado a nuestra cooperativa ha sido: APROBADA<br>
        <br>Le invitamos a visitar nuestra agencia para finalizar el proceso, en el que le otorgaremos un carnet como socio
            y nos brindará su firma. </h3>
        <h4>Gracias por su preferencia y ser parte de nuestra cooperativa!</h4>
    </div>
</body>
</html>