<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="container">
        <h2 align="center">ASEUES DE RL, SAN SALVADOR, EL SALVADOR</h2>
        <hr width="100%" size="2">
        <h3>Estimado/a Sr/Sra {{ cliente.nombres }} {{ cliente.apellidos }} <br>Le informamos que su solicitud de admision como asociado a nuestra cooperativa ha sido: RECHAZADA
        <br>Le invitamos a visitar nuestra agencia para ser atendido por uno de nuestros agentes para darle a conocer los motivos de dicha resolucion.</h3>
        <h4>Sin otro particular, que tenga un buen dia.</h4>
    </div>

</body>
</html>