<!-- commons/change-password.html -->
{% extends "bases/base.html" %}

{% block titulo %} Cambio de Contraseña {% endblock %}

{% block contenido %}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-6 ">
                    <div class="card">
                        <div class="card-header">
                            Cambiar contraseña
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                              Bienvenido "{{user.first_name}}", por favor introduzca su los siguientes datos
                            </h4>

                            {% load crispy_forms_tags %}
                            <form action="." method="post">
                                {% csrf_token %}
                                <div class="mb-3">
                                    {{ form|crispy }}
                                </div>

                                <input class="btn btn-success" type="submit" value="Guardar cambios">

                                <a name="" class="btn btn-primary" href="{% url 'login' %}" role="button">Cancelar</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}