{% extends "bases/base.html" %}

{% block titulo %} Restablecer Contraseña {% endblock %}

{% block contenido %}
<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-center">
                <div class="col-8 ">
                    <div class="card">
                        <div class="card-header">
                            Restablecimiento de contraseña completado
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <p>Su contraseña ha sido restablecida</p>
                            </h4>

                            <h5>Ahora puede continuar e iniciar sesión.</h5>
                            <br>
                            <a name="" class="btn btn-primary" href="{% url 'login' %}" role="button">Iniciar sesion</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}