{% extends "bases/base.html" %}

{% block titulo %} Recepción de solicitudes {%endblock %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="row">
                <a name="" class="btn btn-dark" href="{% url 'recepcion_solicitudes_validadas' %}" role="button"
                   style="width : 200px; heigth : 200px; margin: 15px">Regresar</a>
            </div>
            <div class="card">
                <div class="card-header">
                    Datos del cliente
                </div>
                <div class="card-body">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Dato</th>
                            <th>Descripción</th>
                        </tr>
                        </thead>

                        <tbody>

                        <tr>
                            <td> ID de la solicitud</td>
                            <td> {{solicitud.id_solicitud}}</td>
                        </tr>
                        <tr>
                            <td> Fecha de la solicitud</td>
                            <td> {{solicitud.fecha_solicitud}}</td>
                        </tr>
                        <tr>
                            <td> Nombre del solicitante</td>
                            <td> {{solicitud.id_cliente.nombres}} {{solicitud.id_cliente.apellidos}}</td>
                        </tr>
                        <tr>
                            <td> Género</td>
                            <td> {{solicitud.id_cliente.id_genero.genero}}</td>
                        </tr>
                        <tr>
                            <td> {{solicitud.id_cliente.id_tipoIdentificacion.nombreTipoIdentificacion}}</td>
                            <td> {{solicitud.id_cliente.identificacion}}</td>
                        </tr>
                        <tr>
                            <td> Fecha de nacimiento</td>
                            <td> {{solicitud.id_cliente.fecha_nacimiento}}</td>
                        </tr>
                        <tr>
                            <td> Teléfono</td>
                            <td> {{solicitud.id_cliente.telefono}}</td>
                        </tr>
                        <tr>
                            <td> Correo</td>
                            <td> {{solicitud.id_cliente.correo}}</td>
                        </tr>
                        <tr>
                            <td> Fotografía</td>
                            <td>

                                {% if solicitud.id_cliente.fotografia %}
                                <a  href="{{solicitud.id_cliente.fotografia.url}}" target="_blank"><img
                                        src="{{solicitud.id_cliente.fotografia.url}}" height="225" width="175"/></a>
                                {% endif %}
                            </td>
                        </tr>

                        <!-- Información sobre domicilio-->


                        <tr>
                            <td style="text-align: center;" colspan="4"><strong>Domicilio</strong></td>
                        </tr>
                        <tr>
                            <td> Dirección</td>
                            <td>
                                {{domicilio.localidad}}, {{domicilio.subRegion}}, {{domicilio.region}},
                                {{domicilio.pais}}
                            </td>
                        </tr>
                        <tr>
                            <td> Tiempo de inmueble</td>
                            <td>
                                {{domicilio.tiempo_de_inmueble}}
                            </td>
                        </tr>
                        <tr>
                            <td> Estado de domicilio</td>
                            <td>
                                {{domicilio.estadoDomicilio.nombre_estadoDomicilio}}
                            </td>
                        </tr>

                        <!-- Información sobre el estado civil -->
                        <tr>
                            <td style="text-align: center;" colspan="4"><strong>Estado Civil</strong></td>
                        </tr>
                        <tr>
                            <td> Estado Civil</td>
                            <td>
                                {{solicitud.id_cliente.id_estadocivil.id_tipoEstadocivil.nombre_tipoEstadocivil}}
                            </td>
                        </tr>
                        {% if estadoCivil %}
                        <tr>
                            <td> Nombre del cónyugue</td>
                            <td> {{solicitud.id_cliente.id_estadocivil.nombres_conyugue}}
                                {{solicitud.id_cliente.id_estadocivil.apellidos_conyugue}}
                            </td>
                        </tr>
                        <tr>
                            <td> Teléfono del cónyugue</td>
                            <td> {{solicitud.id_cliente.id_estadocivil.telefono}}</td>
                        </tr>
                        {% endif %}
                        <!-- Información sobre actividad económica -->
                        <tr>
                            <td style="text-align: center;" colspan="4"><strong>Actividad económica</strong></td>
                        </tr>
                        <tr>
                            <td> Profesión</td>
                            <td>
                                {{solicitud.id_actividadEconomica.nombreProfesion}}
                            </td>
                        </tr>
                        <tr>
                            <td> Lugar del trabajo</td>
                            <td>
                                {{solicitud.id_actividadEconomica.lugarTrabajo}}
                            </td>
                        </tr>
                        <tr>
                            <td> Teléfono</td>
                            <td>
                                {{solicitud.id_actividadEconomica.telefono}}
                            </td>
                        </tr>
                        <tr>
                            <td> Asociación</td>
                            <td>
                                {{solicitud.id_actividadEconomica.asociacion}}
                            </td>
                        </tr>
                        <tr>
                            <td> Situación Laboral</td>
                            <td>
                                {{solicitud.id_actividadEconomica.situacionLaboral.nombre_situacionLaboral}}
                            </td>
                        </tr>
                        <tr>
                            <td> Dirección</td>
                            <td>
                                {{solicitud.id_actividadEconomica.localidad}},
                                {{solicitud.id_actividadEconomica.subRegion.nombre_subRegion}},
                                {{solicitud.id_actividadEconomica.region.nombre_region}},
                                {{solicitud.id_actividadEconomica.pais.nombre_pais}}
                            </td>
                        </tr>

                        <!-- Información sobre capacidad económica -->
                        <tr>
                            <td style="text-align: center;" colspan="4"><strong>Capacidad económica (USD)</strong></td>
                        </tr>
                        <tr>
                            <td> Salario</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.salario}}
                            </td>
                        </tr>
                        <tr>
                            <td> Gastos de AFP</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.gastosAFP}}
                            </td>
                        </tr>
                        <tr>
                            <td> Gastos de ISSS</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.gastosISSS}}
                            </td>
                        </tr>
                        <tr>
                            <td> Gastos Personales</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.gastosPersonales}}
                            </td>
                        </tr>
                        <tr>
                            <td> Préstamos</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.prestamos}}
                            </td>
                        </tr>
                        <tr>
                            <td> Gastos de Educación</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.gastosEducacion}}
                            </td>
                        </tr>
                        <tr>
                            <td> Otros ingresos</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.otrosIngresos}}
                            </td>
                        </tr>
                        <tr>
                            <td> Total</td>
                            <td>
                                ${{solicitud.id_actividadEconomica.id_capacidadEconomica.total}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <div class="container text-center">
                        <div class="row">
                            <div class="col">
                                <a name="" class="btn btn-info"
                                   href="{% url 'ver_beneficiarios_jefatura' solicitud.id_solicitud %}"
                                   role="button">Ver <br> beneficiarios</a>
                            </div>
                            <div class="col">
                                <a name="" class="btn btn-info"
                                   href="{% url 'referencia_personal_jefatura' solicitud.id_solicitud %}"
                                   role="button">Ver referencia personal</a>
                            </div>
                            <div class="col">
                                <a name="" class="btn btn-info"
                                   href="{% url 'consultar_documentos_anexos_jefatura' solicitud.id_solicitud %}"
                                   role="button">Ver documentos anexos</a>
                            </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock %}
