{% extends "bases/base.html" %}

{% block titulo %} Documentos Legales {%endblock %}

{% block js %}

<script>
    const $formulario = document.getElementById('formFoto');
    const $imagen = document.getElementById('id_fotografia');

    $formulario.addEventListener('submit', (e)=>{
        let value = String($imagen.value).trim();

        if(value.length == 0){
            Swal.fire({
                "text": "No se ha agregado ninguna foto",
                "icon": "error",
                "confirmButtonText": "OK",
                "confirmButtonColor": "#dc3545"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "#"
                }
            })
            
           e.preventDefault();
        }
    });

</script>

{% endblock %}

{% block contenido %}
<style>
#photo_anexo{
    height: 200px;
    width: 200px;
    background-image: image();
    text-align: center;
    margin: 5px;
    padding: 10px;
    border-radius: 15px;
    border: none;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

#photo_anexo {
  cursor: pointer;
}

#id_fotografia, label{
    opacity: 0;
}

#photo_anexo{
    opacity: 100%;
}
</style>

<br><br><br><br>
{% load crispy_forms_tags %}
<div class="text-center">
    <form enctype="multipart/form-data" method="post" id="formFoto">
        {% csrf_token %}
        <div class="column m-4">
            <label for="id_fotografia" id="photo_anexo" class="btn btn-outline-dark">
                <div class="text-center">
                    <h5>Subir Fotografia</h5>
                    <p style="font-size: 80px;">
                        <span>
                            <i class="bi bi-upload"></i>
                        </span>
                    </p>
                </div>
            </label>
            <br>
            {{ form|crispy }}
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-success m-2">Guardar</button>
            <a name="" class="btn btn-dark m-2" href="{% url 'vista_agente_2' %}" role="button">Regresar</a>
        </div>
    </form>
</div>
{% endblock %}