{% extends "bases/base.html" %}

{% block titulo %} Recepción de solicitudes {%endblock %}

{% block js %}

<script>
        function validarSolicitud(id_solicitud) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "La solicitud se enviará a jefatura para emitir resolución",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Enviar",
                "confirmButtonColor": "#00008B",
                "cancelButtonColor": "#696969"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "solicitud-validada/"+id_solicitud
                }
            })
        }

        function enviarCorreo(id_solicitud) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "Se enviará un correo, al cliente, en el que notifique incongruencias en los datos en la solicitud presentada. Desea enviarlo? ",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Enviar",
                "confirmButtonColor": "#00008B",
                "cancelButtonColor": "#696969"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "solicitud-revisada/"+id_solicitud
                }
            })
        }


</script>

{% endblock %}

{% block contenido %}
<br><br><br><br>
<div class="text-center">
    <div class="row">
        <div class="col-12">
            {% include 'buscar_solicitud/buscar.html' %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row m-4">
        <a name="" class="btn btn-dark" href=" {% url 'vista_secretaria' %}" role="button">Regresar</a>
    </div>
    <div class="row m-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Solicitudes por Revisar y Validar
                </div>
                <div class="card-body">
                    <h4 class="card-title">Lista de solicitudes</h4>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No. de solicitud</th>
                            <th>Fecha de solicitud</th>
                            <th>Cliente solicitante</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for solicitud in solicitudes %}
                        <comment solicitud.id_cliente.nombres></comment>
                        <tr>
                            <td align="center"> {{solicitud.id_solicitud}}</td>
                            <td> {{solicitud.fecha_solicitud}}</td>
                            <td> {{solicitud.id_cliente.nombres}} {{solicitud.id_cliente.apellidos}}</td>
                            <td>
                                <a class="btn btn-info" href="{% url 'ver_solicitud_secretaria' solicitud.id_solicitud %}" role="button">Visualizar</a>
                                <a style="margin-left: 15px;" href="#"
                                   onclick="validarSolicitud({{ solicitud.id_solicitud }})" class="btn btn-success"
                                   role="button">Enviar a jefatura</a>
                                <a class="btn btn-dark" style="margin-left: 15px;" href="#"
                                   onclick="enviarCorreo({{ solicitud.id_solicitud }})" role="button">Notificar al Cliente</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}