{% extends "bases/base.html" %}

{% block titulo %} Recepción de solicitudes revisadas {%endblock %}


{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <br><br><br><br>
            <div class="card">
                <div class="card-header">
                    Solicitudes aprobadas
                </div>
                <div class="card-body">
                    <h4 class="card-title">Lista de solicitudes</h4>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Fecha de solicitud</th>
                            <th>No. de solicitud</th>
                            <th>Cliente solicitante</th>
                            <th>Acción</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for solicitud in solicitudes %}
                        <comment solicitud.id_cliente.nombres></comment>
                        <tr>
                            <td> {{solicitud.fecha_solicitud}}</td>
                            <td> {{solicitud.id_solicitud}}</td>
                            <td> {{solicitud.id_cliente.nombres}} {{solicitud.id_cliente.apellidos}}</td>
                            <td>
                                 <a class="bi bi-eye-fill"  href="/ver_solicitud/{{solicitud.id_solicitud}}" class="bi bi-eye" role="button">Visualizar</a>

                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}