{% extends "bases/baseLogeado.html" %}

{% block titulo %} Agente {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container" style="text-align:center;">
            <div class="row">
                <div class="col-12">
                    <br><br><br><br>
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;  margin:0px auto;">
                        <div class="card-header">Acción de agente</div>
                        <div class="card-body">
                        <h5 class="card-title">Permite anexar fotografía, documentos legales y emitir un carnet para el asociado.</h5>
                        <a name="" class="btn btn-dark" href=" {% url 'vista_agente_2' %}" role="button">Entrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{%endblock %}