{% extends "bases/baseLogeado.html" %}

{% block titulo %} Asociado {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br><br><br><br>
                    Bienvenido "{{user.first_name}}"
                    <br><br>
                    <a name="" class="btn btn-dark" href=" {% url 'perfilAsociado' id_cliente %}" role="button">Consultar perfil</a>
                </div>
            </div>
        </div>
    </main>
{%endblock %}