{% extends "bases/baseLogeado.html" %}

{% block titulo %} Asociado {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container" style=" text-align:center;">
            <div class="row">
                <div class="col-12">
                    <br><br><br><br>
                    Bienvenido "{{user.first_name}}"
                    <br><br>
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;  margin:0px auto;">
                        <div class="card-header">Consultar perfil</div>
                        <div class="card-body">
                        <h5 class="card-title">Aquí puedes revisar tu perfil y sus datos.</h5>
                         <a name="" class="btn btn-dark" href=" {% url 'perfilAsociado' id_cliente %}" role="button">Consultar perfil</a>
                        </div>
                </div>
            </div>
        </div>
    </main>
{%endblock %}