{% extends "bases/baseLogeado.html" %}

{% block titulo %} Cajera {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container" style=" text-align:center;">
            <div class="row">
                <div class="col-12">
                    <br><br><br><br>
                    <div class="card text-white bg-info mb-3" style="max-width: 18rem;  margin:0px auto;">
                        <div class="card-header">Procesar pago del solicitante</div>
                        <div class="card-body">
                        <h5 class="card-title">Ingresa aquí para aprobar el pago del solicitante.</h5>
                    <a name="" class="btn btn-dark" href=" {% url 'solicitudes_de_pago' %}" role="button">Entrar</a>
                        </div>
                </div>
            </div>
        </div>
    </main>
{%endblock %}