{% extends "bases/baseLogeado.html" %}

{% block titulo %} Jefatura {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br><br><br><br>
                    JEFATURA
                    <div class="row m-4">
                        <a name="" class="btn btn-dark" href=" {% url 'recepcion_solicitudes_validadas' %}" role="button">Accion de jefatura</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{%endblock %}