{% extends "bases/baseLogeado.html" %}

{% block titulo %} Jefatura {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container" style=" text-align:center;">
            <div class="row">
                <div class="col-12">
                    <br><br><br><br>
                    <div class="row m-4">
                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;  margin:0px auto;">
                        <div class="card-header">Recepción de solicitudes validadas</div>
                        <div class="card-body">
                        <h5 class="card-title">Buzón de solicitudes validadas por secretaría, en espera por aprobación final.</h5>
                         <a name="" class="btn btn-dark" href=" {% url 'recepcion_solicitudes_validadas' %}" role="button">Entrar</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
{%endblock %}