{% extends "bases/baseLogeado.html" %}

{% block titulo %} Secretaria {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container" style=" text-align:center;">
            <div class="row" style="display: flex;">
                <div class="col-12">
                    <br><br><br><br>
                    <div class="col-12">
                 <div class="card text-white bg-info mb-3" style="max-width: 18rem;  margin:0px auto; ">
                        <div class="card-header">Recepción de solicitudes</div>
                        <div class="card-body">
                        <h5 class="card-title">Aquí puedes revisar las solicitudes recibidas.</h5>
                         <a href="{% url 'recepcion_solicitudes' %}" class="btn btn-danger" role="button">Ver solicitudes</a>
                        </div>
                        </div>

                        <div class="card text-white bg-info mb-3" style="max-width: 18rem;  margin:0px auto; margin-bottom: 20px;">
                        <div class="card-header">Solicitudes en espera</div>
                        <div class="card-body">
                        <h5 class="card-title">Aquí puedes revisar la lista de solicitudes que fueron notificadas al cliente debido a la incongruencia de datos.</h5>
                         <a href="{% url 'solicitudes_espera' %}" class="btn btn-danger" role="button">Ver solicitudes en espera</a>
                        </div>
                </div>
            </div>
        </div>
    </main>
{%endblock %}