{% extends "bases/baseLogeado.html" %}

{% block titulo %} Secretaria {%endblock %}

{% block contenido %}
    <main id="main">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <br><br><br><br>
                    <a href="{% url 'recepcion_solicitudes' %}" class="btn btn-danger" role="button">solicitudes</a>
                    <a href="{% url 'solicitudes_espera' %}" class="btn btn-danger" role="button">solicitudes en espera</a>
                </div>
            </div>
        </div>
    </main>
{%endblock %}