{% extends "bases/base.html" %}

{% block titulo %} Recepción de solicitudes revisadas {%endblock %}

{% block js %}

<script>
        function aprobarSolicitud(id_solicitud) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "La solicitud se aprobará de forma permanente",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Aprobar",
                "confirmButtonColor": "#00008B",
                "cancelButtonColor": "#696969"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "solicitud-aprobada/"+id_solicitud
                }
            })
        }

        function rechazarSolicitud(id_solicitud) {
            Swal.fire({
                "title": "¿Estás seguro?",
                "text": "La solicitud se rechazará de forma permanente",
                "icon": "question",
                "showCancelButton": true,
                "cancelButtonText": "No, Cancelar",
                "confirmButtonText": "Si, Rechazar",
                "confirmButtonColor": "#8B0000",
                "cancelButtonColor": "#696969"
            })
            .then(function(result) {
                if(result.isConfirmed) {
                    window.location.href = "solicitud-rechazada/"+id_solicitud
                }
            })
        }



</script>

{% endblock %}

{% block contenido %}
<br><br><br><br>
<div class="container-fluid">
    <div class="row m-4">
        <a name="" class="btn btn-dark" href=" {% url 'vista_jefatura' %}" role="button">Regresar</a>
    </div>
    <div class="row m-4">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    Solicitudes Revisadas y Validadas
                </div>
                <div class="card-body">
                    <h4 class="card-title">Lista de Solicitudes para Resolución</h4>

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No. de solicitud</th>
                            <th>Fecha de solicitud</th>
                            <th>Cliente solicitante</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for solicitud in solicitudes %}
                        <comment solicitud.id_cliente.nombres></comment>
                        <tr>
                            <td align="center"> {{solicitud.id_solicitud}}</td>
                            <td> {{solicitud.fecha_solicitud}}</td>
                            <td> {{solicitud.id_cliente.nombres}} {{solicitud.id_cliente.apellidos}}</td>
                            <td>
                                <a class="bi bi-eye-fill"  href="{% url 'ver_solicitud_jefatura' solicitud.id_solicitud %}" class="bi bi-eye" role="button">Visualizar</a>
                                <a style="margin-left: 15px;" href="#" onclick="aprobarSolicitud({{ solicitud.id_solicitud }})" class="btn btn-success" role="button">Aprobar Solicitud</a>
                                <a style="margin-left: 15px;" href="#" onclick="rechazarSolicitud({{ solicitud.id_solicitud }})" class="btn btn-danger" role="button">Rechazar Solicitud</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock %}